/*replier background-color: #eee*/
@import url("https://fonts.googleapis.com/css?family=Francois+One");


/* --------------------------- framework -- */

#back {
  float: right;
  background-color: #9c2626;
  border-radius: 4px;
  margin: 30% 5px 2px 5px;
  min-height: 250px;
}

#webchat {
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 5px;
  font-family: 'Francois One', sans-serif;
}

#content {
  background-color: #dfdfdf;
  border: 2px solid white;
  padding: 20px 20px;
  border-radius: 5px;
  min-height: 150px;
  text-align: left;
}

#triangle-topleft {
  float: right;
  margin-right: 15px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
}

#inner-triangle-topleft {
  position: relative;
  float: right;
  width: 0;
  height: 0;
  top: -3px;
  right: -20px;
  border-top: 18px solid #dfdfdf;
  border-right: 18px solid transparent;
}


/* --------------------------- changeable area -- */

#cover-msg {
  font-weight: bold;
  color: #666;
  font-size: 20px;
  position: absolute;
}

/*#intro-msg {
  visibility: hidden;
}*/

#content p {
  color: #666;
  display: inline;
}

#content span {
  font-weight: bold;
  color: black;
}

#chat-now {
  font-family: 'Francois One', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: whitesmoke;
  float: right;
  cursor: pointer;
}

form {
  visibility: hidden;
  display: inline;
}

input {
  border: none;
  height: 30px;
  margin-bottom: 15px;
  width: 60%;
}

#button {
  font-family: 'Francois One', sans-serif;
  font-weight: bold;
  color: white;
  background-color: #9c2626;
  border: 1px solid white;
  width: 20%;
}

