/*replier background-color: #eee*/

/* --------------------------- framework -- */

#back {
  float: right;
  margin-top: 30%;
  background-color: #9c2626;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  min-height: 250px;
}

#webchat {
  font-size: 15px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 5px;

}

#content {
  background-color: #dfdfdf;
  border: 2px solid white;
  padding: 20px 20px;
  border-radius: 5px;
  min-height: 150px;
  text-align: left;
}

#triangle-topleft {
  float: right;
  margin-right: 15px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
}

#inner-triangle-topleft {
  position: relative;
  float: right;
  width: 0;
  height: 0;
  top: -3px;
  right: -20px;
  border-top: 18px solid #dfdfdf;
  border-right: 18px solid transparent;
}


/* --------------------------- changeable area -- */

#content p {
  font-weight: bold;
  color: #666;
  font-size: 20px;
  position: absolute;
}

#intro-msg {
  visibility: hidden;
}

.agent-name {
  font-weight: bold;
  color: black;
}

.agent-message {
  color: #666;
}

#chat-now {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: whitesmoke;
  float: right;
  cursor: pointer;
}

form {
  visibility: hidden;
}

input {
  border: none;
  height: 30px;
  margin-bottom: 15px;
  width: 60%;
}

button {
  font-weight: bold;
  color: white;
  background-color: #9c2626;
  border: 1px solid white;
}
